__pycache__
**/__pycache__
*.pyc
**/*.pyc

node_modules
build
dist
cache
downloads
installs
customize/requirements

src/*.bc
src/*.mem
src/*.asm.js
src/*.orig.js
src/*.intermediate.js
src/*.worker.js
src/*.wasm
src/*.embin
src/*.so
src/*.o
src/*.data
src/*.zip
src/*.bak
src/*.pre
src/*.wast
src/*.map
src/*.make
src/*.tmp
src/root

src/index.html
src/module.js
src/prejs.js
src/main.c