__pycache__
**/__pycache__
*.pyc
**/*.pyc

build
cache
downloads
installs
customize/requirements

**/*.bc
**/*.asm.js
**/*.orig.js
**/*.wasm
**/*.so
**/*.o
**/*.data
**/*.zip
**/*.pre
**/*.wast
**/*.map
**/*.make
**/*.tmp
**/root

src/index.html
src/module.js
src/prejs.js
src/main.c