build
downloads
installs
dist

**/*.bc
**/*.asm.js
**/*.orig.js
**/*.wasm
**/*.so
**/*.o
**/*.data
**/*.zip
**/*.pre
**/*.wast
**/*.map
**/*.make
**/*.tmp
**/root

src/index.html
src/module.js
src/prejs.js